# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Data (never push medical datasets)
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# Models (DO NOT push weights)
models/
*.h5
*.keras

# Experiments outputs
experiments/gradcam_outputs/

# OS
.DS_Store
